<div class="bg-white shadow mb-3 rounded">
  <div class="d-table-cell align-middle pe-2">
    <div class="px-3 py-3 text-center fw-bold border-end">
      <div class="text-danger">Jan</div>
      <div>18</div>
    </div>
  </div>
  <div class="d-table-cell align-top">
    <h4 class="text-danger pt-3">Martin Luther King Day Camp</h4>
    <p>
      School's out! Let's celebrate Black History Month at FGTC! Martin Luther King Day Camp!
      <br>
      Contact the front desk at 305-251-4414 or register online.
    </p>
  </div>
</div>

<div class="bg-white shadow mb-3 rounded">
  <div class="d-table-cell align-middle pe-2">
    <div class="px-3 py-3 text-center fw-bold border-end">
      <div class="text-danger">Feb</div>
      <div>15</div>
    </div>
  </div>
  <div class="d-table-cell align-top">
    <h4 class="text-danger pt-3">Presidents' Day Camp</h4>
    <p>
      No School, No Problem! Bring your child(ren) to FGTC for Presidents' Day Camp!
      <br>
      Contact the front desk at 305-251-4414 or register online.
    </p>
  </div>
</div>

<div class="bg-white shadow mb-3 rounded">
  <div class="d-table-cell align-middle pe-2">
    <div class="px-3 py-3 text-center fw-bold border-end">
      <div class="text-danger">Mar</div>
      <div>26</div>
    </div>
  </div>
  <div class="d-table-cell align-top">
    <h4 class="text-danger pt-3">Spring has Sprung Day Camp</h4>
    <p>
      No school before Spring Break - Spring has Sprung Day Camp!
      <br>
      Contact the front desk at 305-251-4414 or register online.
    </p>
  </div>
</div>
