<div class="container d-grid gap-3">
  <div class="row my-3">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-danger">About Us</h2>
          <br>
          <p class="card-text">
            FGTC has been owned an operated by Abby Perez since 2007,
            since then we have become one of Florida's elite gyms producing
            many State, Regional, and National Champions. Our structured program
            provides stability for our gymnasts, as we have a competent coaching staff
            with a collective experience of over 200 years. All FGTC coaches are
            USAG Safety Certified, certified through the US Center for Safe Sport
            and background checked.
            <br><br>
            <span class="fw-bold">
              Our main goal at FGTC is to encourage and develop the sport of gymnastics
              while understanding the mental and physical needs of each unique child.
              With this understanding, we ensure that all technical requirements
              set forth in the program are met and that each unique child experiences success.
            </span>
            <br><br>
            Our administrative director/owner, Abby Perez, brings with her many years
            of teaching experience. As a State of Florida Certified teacher in Elementary
            Education, Exceptional Student Education and Gifted Education, she ensures
            that the emotional and mental, as well as physical needs of each unique child
            have been met. Her love of children and understanding of the correlation between
            a child’s intellectual and physical development are the building blocks of
            FGTC’s philosophy. In addition, Abby Perez was the parent of a gymnast.
            She helps guide the parents through the process of development in each phase
            and level of gymnastics not only through her experience as an educator, but
            as a mother of a competitive gymnast herself. Abby also served as treasurer for
            the Florida USA Mens' Gymnastics organization.
            <br><br>
            Our gymnastics program director/owner, Alexis Labrada, brings with him not
            only the years of being a gymnast but also the many years of coaching gymnastics
            and cheerleading.  With over 20 years of coaching gymnasts and cheerleaders, he
            is patient, kind, and knowledgeable in providing a solid foundation necessary
            to produce successful, happy gymnasts.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>