<div class="container d-grid gap-3">
  <div class="row my-3">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-danger">Testimonials</h2>
          <p class="card-text">
            <blockquote class="border-start border-5 p-3">
              In 2007, FGTC set out to create a program aimed at producing gymnasts
              of the first order. They have welcomed into their gymaspiring gymnasts
              --- kids with a whole lot of desire, hard work ethic and heart --- and
              have guided these fine young athletesthrough the exciting yet tough road
              of becoming some of the nation’s top gymnasts. As our son Antonio enters his
              6th andfinal year in the intensive program, we know that he has all the right
              stuff to go on to a NCAA Division I Men’s Gymnastics team and be a success as a
              teammate and as a student. We are grateful to FGTC for providing an atmosphere
              that fosters not only excellence in the sport of gymnastics but more importantly
              cultivates qualities of perserverance, conscientiousness and dedicaton. We know
              these qualities will serves our son well for the rest of his life. Thank you FGTC.
              You delivered. <br>
              <span class="">- The Castro Family</span>
            </blockquote>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>